* {
    text-align: center;
}

#email {
    background-color: chartreuse;
    color:rgba(200, 10, 100, 0.7);
}

h2 {
    text-decoration: underline;
    color:rgb(100, 10, 100);
    font-size:30px;
    height: 20px;
    width: 75%;
}

nav {
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10px;
    padding-right:500px;
    color:#10d293;
    border-style: solid;
    border-color: indigo;
    border-width: 10px;
    border-radius: 50%;
}

input[type="date"] {
    color:#E19;
}