* {
    text-align: center;
}

#email {
    background-color: chartreuse;
    color:rgba(200, 10, 100, 0.7);
}

h1 {
    display:inline;
    position:fixed;
}

h2 {

    text-decoration: underline;
    color:rgb(100, 10, 100);
    font-size:30px;
    height: 20px;
    width: 75%;
}

nav {
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10px;
    padding-right:500px;
    margin-top: 300px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 50px;
    color:#10d293;
    border-style: solid;
    border-color: indigo;
    border-width: 10px;
    border-radius: 50%;
}

input[type="date"] {
    color:#E19;
}

img:hover, canvas {
    min-width: 50%;
    padding: 100px 300px 100px 100px;
    margin: 50px 100px 150px 200px;
}

form p {
    color:hsl(350, 50%, 50%);
}

label + input {
    position:sticky;
    background-color:hsla(350, 50%, 50%, 0.5);
}

div > ul {
    background-color:#10d293;
}

li ~ li { /* between two list elements, therefore not marking the first element */
    margin:auto;
    max-width: 20%;
    background-color: hsla(350, 50%, 50%, 0.5);
}

button:active {
    display:none;
}

label.input {
    color:hsla(350, 50%, 50%, 0.5);
}

div.AboutMe2 {
    font-family: 'Hachi Maru Pop', cursive;
}

.flex-seal {
    width: 100px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    background-color: honeydew;
}

.flex-seal > label {
    margin: 20px;
}

.AboutMe1 {
    display:grid;
    grid-column-gap: 40px;
    background-color:lightcoral;
    padding: 10px;
    margin: 10px;
}

.AboutMe1-item {
    grid-row-start: 1;
    background-color: lightcyan;
}

@media only screen and (min-width: 1000px) {
    body {
      background-color: lightgreen;
    }
}